<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About</title>
</head>
<body>
	<header>
		<h1>About</h1>
	</header>
	<nav>
		<a href="/">Home</a>
		<a href="/about">About</a>
	</nav>
	<div>Made by <b>lyukidon</b></div>
	<a href="https://github.com/lyukidon">Github</a>
</body>
</html>
