<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About</title>
	<link rel="stylesheet" href="/css/page-default.css">
	<link rel="stylesheet" href="/css/about-style.css">
</head>
<body>
	<header>
		<h1>About</h1>
	</header>
	<div id="main">
		<nav>
			<a href="/">Home</a>
			<a href="/about">About</a>
			
		</nav>
		<div id="introduction">
			Made by <b>lyukidon</b>
			<div>
				<a href="https://github.com/lyukidon">Github</a>
			</div>
		</div>
		<!-- SKILL -->
		<table>
	
			<tr>
				<th>JavaScript</th>
				<th>HTML</th>
				<th>CSS</th>
				<th>NODE JS</th>
				<th>REACT JS</th>
			</tr>
		</table>
		<!-- PROJECT -->
		<table>
			<thead>
				<tr>
					<th>Thumbnail</th>
					<th>Title</th>
					<th>Description</th>
					<th>Date</th>
				</tr>
			</thead>
			<tbody>
				<% project.map( data => { %>
					<tr>
						<td><%= data.thumbnail %></td>
						<td><%= data.title %></td>
						<td><%= data.description %></td>
						<td><%= data.date %></td>
					</tr>
				<% }) %>
			</tbody>
		</table>
	
	</div>
</body>
</html>
