<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About</title>
	<link rel="stylesheet" href="/css/about-style.css">
</head>
<body>
	<header>
		<h1>About</h1>
	</header>
	<nav>
		<a href="/">Home</a>
		<a href="/about">About</a>
	</nav>
	<div>Made by <b>lyukidon</b></div>
	<a href="https://github.com/lyukidon">Github</a>
	<table>
		<tr>
			<th>thumbnail</th>
			<th>title</th>
			<th>description</th>
			<th>date</th>
		</tr>
		<% project.map( data => { %>
				<tr>
					<td><%= data.thumbnail %></td>
					<td><%= data.title %></td>
					<td><%= data.description %></td>
					<td><%= data.date %></td>
				</tr>
		<% }) %>
	</table>
</body>
</html>
