<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Chat</title>
	<link rel="stylesheet" href="/css/page-default.css">
	<link rel="stylesheet" href="/css/index-style.css">
	</head>
<body>
	<header>
		<h1>Chat</h1>
	</header>
	<nav>
		<a href="/">Home</a>
		<a href="/about">About</a>
	</nav>
	<article>
		<div id='main'>
			<form id='chatSubmit'>
				<input type="text" id='idBox' class="inlineBlock" placeholder="ID"> 
				<input type="text" id='textBox' class="inlineBlock" placeholder='입력하세요'>
				<button type='submit' class='inlineBlock'>보내기</button>

			</form>
		</div>
		<div id='box'>
			<div id='chatBox'></div>
		</div>
	</article>
	<footer></footer>

	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script type='text/jacascript' src="/script/style.js"></script>
	<script type='text/javascript' src='/script/chatting.js'></script>
</body>
</html>
