<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Chatting</title>
	<script src='/index.js'></script>

	</head>
<body>
	<h1>Chatting Server</h1>
	<div>
		<form id='chatSubmit'>
			<input type="text" id='textBox' placeholder='입력하세요'>
			<button type='submit'>보내기</button>
		</form>
	</div>
	<div id='chatBox'></div>

	</body>
</html>
