<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Chat</title>
	<link rel="stylesheet" href="/css/style.css">
	</head>
<body>
	<header>
		<h1>Chat</h1>
	</header>
	<nav>
		<a href="/">Home</a>
		<a href="/about">About</a>
	</nav>
	<article>
		<div id='main'>
			<form id='chatSubmit'>
				<input type="text" id='textBox' placeholder='입력하세요'>
				<button type='submit'>보내기</button>
			</form>
		</div>
		<div id='chatBox'></div>
	</article>

	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script type='text/jacascript' src="/script/style.js"></script>
	<script type='text/javascript' src='/script/database.js'></script>
</body>
</html>