#main{
	display: flex;
	justify-content: center;
	align-items: center;
}
.chats{
	display: block;
}
.idColor{
	color: white;
	background-color: black
}
.inlineBlock{
	display:inline-block;
}
#box{
	display: flex;
	justify-content: center;
	align-items: center;
}