header{
    width:100%;
    text-align: center;
}
nav{
    width: 50%;
    margin: 0 auto;
}
#main{
	display: flex;
	justify-content: center;
	align-items: center;
}
.chats{
    text-align: center;
}
.idColor{
	color: white;
	background-color: black
}
.inlineBlock{
	display:inline-block;
}
